body {
    background-color: white;
}


.card img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center center;
    
}

.card:hover {
    transform: scale(1.05); /* Aumenta el tamaño al 105% */
    transition: transform 0.3s ease; /* Agrega una transición suave */
}

header {
    position: sticky;
    top: 0;
    z-index: 100;
    /* font-weight: bold; */
}

header a {
    text-decoration: none;
}

header a:hover {
    text-decoration: underline;
}

.containerNav {
    display: flex;
    justify-content: end;
    font-size: 1.2rem;
}

footer a {
    text-decoration: none;
    color: white;
}

footer a:hover {
    text-decoration: underline;
}

.footer-icons {
    display: flex;
    justify-content: center;
    font-size: 20px;

}

.a-icons {
    padding: 3px;
}

/*--------------------------------------------------------------
# Back to top button
--------------------------------------------------------------*/
.back-to-top {
    position: fixed;
    visibility: hidden;
    opacity: 0;
    right: 15px;
    bottom: 15px;
    z-index: 996;
    background: #149ddd;
    width: 40px;
    height: 40px;
    border-radius: 50px;
    transition: all 0.4s;
  }
  
  .back-to-top i {
    font-size: 28px;
    color: #fff;
    line-height: 0;
  }
  
  .back-to-top:hover {
    background: #2eafec;
    color: #fff;
  }
  
  .back-to-top.active {
    visibility: visible;
    opacity: 1;
  }

  /*-----------------------------------------------------------
--------------------------------------------------------------*/