body {
    background-color: white;
}


.card:hover {
    transform: scale(1.05);
    /* Aumenta el tamaño al 105% */
    transition: transform 0.3s ease;
    /* Agrega una transición suave */
}

header {
    position: sticky;
    top: 0;
    z-index: 100;
}

header a {
    text-decoration: none;
}

header a:hover {
    text-decoration: underline;
}

.containerNav {
    display: flex;
    justify-content: end;
    font-size: 1.2rem;
}

footer a {
    text-decoration: none;
    color: white;
}

footer a:hover {
    text-decoration: underline;
}

.footer-icons {
    display: flex;
    justify-content: center;
    font-size: 20px;

}

.a-icons {
    padding: 3px;
}

/*--------------------------------------------------------------
# Back to top button
--------------------------------------------------------------*/
.back-to-top {
    position: fixed;
    visibility: hidden;
    opacity: 0;
    right: 15px;
    bottom: 15px;
    z-index: 996;
    background: #149ddd;
    width: 40px;
    height: 40px;
    border-radius: 50px;
    transition: all 0.4s;
}

.back-to-top i {
    font-size: 28px;
    color: #fff;
    line-height: 0;
}

.back-to-top:hover {
    background: #2eafec;
    color: #fff;
}

.back-to-top.active {
    visibility: visible;
    opacity: 1;
}

/*-----------------------------------------------------------
--------------------------------------------------------------*/

.card-img-top {
    width: 100%;
    height: 200px;
    object-fit: cover;
}


#carritoIcono {
    font-size: 30px;
    cursor: pointer;
    color: white !important;
    display: block;
}

#carritoIcono:hover {
    transform: scale(1.01);
    transition: transform 0.3s ease;
}

#carritoContainer {
    position: fixed;
    /*background: linear-gradient(45deg, #0037eb, #32e60e); /* Cambia los colores según tu preferencia */
    top: 10%;
    right: 10px;
    padding: 10px;
    border-radius: 10px;
    margin-top: 20px;
    max-width: 70%;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    display: none;

    /* Media query para dispositivos móviles */
    @media (max-width: 768px) {
        width: 95%;
        max-width: 80%;
        padding: 8px;
    }
}

#listarCarrito {
    background-color: white;

}

#carritoContainer h4 {
    margin-bottom: 20px;
    color: #333;
}

.carritoItem {
    margin-bottom: 10px;
    border-bottom: 1px solid #ccc;
    padding-bottom: 10px;
}

.carritoItem:last-child {
    border-bottom: none;
}

.carritoItem .col-6 {
    font-weight: bold;
}

.carritoItem .col-3 {
    display: flex;
    align-items: center;
}

.carritoItem .col-3 i {
    cursor: pointer;
    margin: 0 5px;
}

.carritoItem .col-2 {
    font-weight: bold;
}

.carritoItem .col-1 {
    text-align: center;
}

.eliminarItemCarrito {
    color: red !important;
    cursor: pointer;
}


.btnAccionCarts {
    display: flex;
    justify-content: space-evenly;
}

.construction {
    display: flex;
    justify-content: center;
    font-size: 100px;
    color: orange !important;

}

/* Botones */
.equal-width-btns {
    display: flex;
    justify-content: space-between;
}

.equal-width-btns .btn {
    flex: 1;
    margin: 5px;
}

#btnSearch {
    margin-left: 5px;
}